<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

<h1>Create Audio</h1>
<p>
  <a th:href="@{/}">
   Back to Home
  </a>
</p>
<div id="form">
  <form th:action="@{/save}" th:object="${audio}"
        method="POST" novalidate="novalidate" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <label>Name</label>
      <input type="text" th:field="*{name}"/>
    </div>
    <div>
      <label>Singer</label>
      <input type="text" th:field="*{singer}"/>
    </div>
    <div>
      <label>Type</label>
      <input type="text" th:field="*{type}"/>
    </div>
    <div>
      <label>Url</label>
      <input type="file" name="url_audio"/>
    </div>
    <input type="submit" value="Save"/>
  </form>
</div>

</body>
</html>